body {
    background-color: #ffffff;
    width: 660px;
    margin: 30px auto;
  }
  
  #front{
    background-color: #ff0202;
    width: 300px;
    height: 500px;
    margin-left: 75px;
    position: absolute;
    z-index:0;
}
#back{
    background-color: #632f2f;
    width: 300px;
    height: 500px;
    margin-left: 75px;
    position: relative;
    z-index:1;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top : 100px;
    margin-left: 175px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}